<div class="container-sm bg-info">
  <div class="row">
    <div class="col-12">
      <h1 class="mt-3 mb-3">NgRx Part1 Demo</h1>
    </div>
  </div>
</div>
<h2>Books</h2>
<app-book-list
  class="book-list"
  [books]="books$ | async"
  (add)="onAdd($event)"
></app-book-list>

<h2>My Collection</h2>
<app-book-collection
  class="book-collection"
  [books]="bookCollection$ | async"
  (remove)="onRemove($event)"
>
</app-book-collection>

<div *ngFor="let article of articles">
  <h2>{{ article.fields.title }}</h2>
  <h2>{{ article.sys.id }}</h2>
</div>
